@use 'global' as *;

.navbar {
    background-color: $fondo;
    text-align: center;
    color: $color-secundario;
    font-weight: 500;

    .logo > img {
        width: 15%;
    }

    .nav-item {
        display: inline;
        margin-right: 25px;
        margin-left: 25px;
    }

    .actions {
 
        text-align: center;
        font-size: 14px;
        display: inline;

        * {
            margin-right: 10px;
            margin-left: 10px;
        }

        a {
            color: $color-primario;
        }

        button {
            color: white;
            background-color: $color-primario;
            padding-left: 14px;
            padding-right: 14px;
            padding-top: 12px;
            padding-bottom: 12px;
            border: 0;
            border-radius: 5px;
        }

        
    }
    
  
    
}