@use 'global' as *;

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;

    .explanatory-video {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 120px;
            margin-top: 10px;
          }
    }
    .publish {
        h3 {
            font-family: "Alegreya", serif;
            font-size: 40px;
            line-height: 48px;
            color: $color-secundario;
          }
        p {
            font-size: 16px;
            color: #343434;
            line-height: 1.5;
            margin-bottom: 20px;
        }
        .start-publishing{
            color: #8b8b8bcc;
        }
        form {
            display: flex;
            input {
                font-size: 1rem;
                height: 100%;
                padding: 15px 20px;
                border-radius: 8px;
        
            }
            button {
                font-size: 1rem;
                height: 100%;
                padding: 15px 20px;
                margin-left: -10px;
                color: $fondo;
                background-color: $color-secundario;
                border-radius: 8px;
                border: none;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                position: relative;
                overflow: hidden;
              }
        }
      }
  }